body {
  overflow: hidden;
}

.form-container {
  width: 50%;

  padding-top: 36px;

  position: absolute;
  left: 0px;
  top: 0px;
  left: 25%;

  /* z-index: -1; */
}

.form-page-title {
  font-size: 24px;
  opacity: 0.5;

  font-weight: normal;
}

.personal-info,
.tiktok-info {
  background-color: rgba(255, 255, 255, 0.05);
  margin-top: 36px;
  width: 90%;

  position: relative;

  padding: 24px;
  padding-top: 60px;

  column-gap: 24px;

  border-radius: 5px;
}

.personal-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tiktok-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form-title {
  position: absolute;
  left: 24px;
  top: 24px;

  opacity: 0.25;
  font-weight: 400;
}

.input-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 16px;
}

.input-box--pt24 {
  margin-top: 24px;
}

.input-label {
  height: 25px;
  font-size: 12px;
  opacity: 0.75;
}

.input {
  height: 36px;
  width: 100%;

  box-sizing: border-box;

  border-radius: 5px;
  border: 0px;

  font-size: 18px;
  font-family: Lato;

  position: relative;

  padding: 10px;
  color: #242020;
}

.input__handle {
  padding-left: 30px;
}

.input__error {
  opacity: 0;
}

.input--error ~ .input__error {
  margin-top: 2px;
  font-size: 12px;
  opacity: 1;
  color: #f2363c;
}

.input:focus {
  outline: none;
}

.input--error {
  border: 1px solid red;
}

.submit-button {
  height: 65px;
  width: 60%;

  background-image: linear-gradient(285deg, #f2363b, #8f44ad);

  border: 0px;
  border-radius: 5px;

  margin-top: 36px;

  font-size: 24px;
  font-family: Lato;
  font-weight: 400;

  color: white;

  cursor: pointer;
  margin-left: 20%;
  margin-bottom: 10px;
}

.num-tiktokers--form {
  width: 80%;
  font-size: 18px;
  opacity: 0.75;

  margin-top: 15px;

  position: fixed;
  bottom: 36px;
}

.transfer-form {
  width: 100%;
}

.form-container .footer {
  position: static;
  margin-bottom: 20px;
  opacity: 0;
}

.form-container .footer p {
  opacity: 0.5;
}

.container .contact-us {
  margin-top: 10px;
}

.num-tiktokers--form p:first-child {
  margin-bottom: 10px;
}

.line-break__mobile {
  display: none;
}

@media (max-width: 600px) {
  /* body {
    background-image: none;
  } */

  body {
    overflow: scroll;
  }

  .line-break__mobile {
    display: unset;
  }

  .form-container {
    width: 100%;
    left: 0px;

    background-image: radial-gradient(
      circle at 18% -21%,
      #4b4343,
      #4a4343 5%,
      #242020 50%
    );
  }

  .form-page-title {
    font-size: 16px;
    max-width: 80%;
    margin-bottom: 0px;
  }

  form {
    width: 100%;
  }

  .personal-info,
  .tiktok-info {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    margin-left: 10%;

    box-sizing: border-box;
  }

  .input {
    font-size: 16px;
  }

  .form-title {
    font-size: 16px;
    text-align: left;
  }

  .submit-button {
    margin-bottom: 20px;
    width: 80%;
    margin-left: 10%;
    height: 50px;
    font-size: 16px;
  }

  .num-tiktokers--form {
    width: 80%;
    font-size: 14px;
    opacity: 0.75;
    position: static;
  }

  .num-tiktokers--form p:first-child {
    margin-bottom: 10px;
  }

  /* .num-tiktokers--form p:last-child {
    margin-bottom: 10vw;
  } */

  .form-container .footer {
    opacity: 1;
    width: 80%;
  }

  .container .contact-us {
    font-size: 14px;
  }

  .footer__queries {
    font-size: 12px;
    opacity: 0.5;
  }
}

.footer__queries {
  opacity: 0.5;
}

.text--orange {
  /* color: #f2363c; */
  font-size: 18px;
  font-weight: bold;
}

/* Success page */

.success-container {
  position: absolute;
  left: 20%;
  top: 0px;
}

.success-container .subtitle-2 {
  font-weight: normal;
}

.success-container .subtitle {
  color: white;
}

.success-container .subtitle-2 {
  color: #c8c6c6;
}

.success-container .subtitle-2 {
  margin-top: 24px;
}

.success-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.primary-button--share,
.primary-button--contact {
  width: 40%;
  margin-top: 30px;
  font-size: 16px;
}

.primary-button--contact {
  background-image: linear-gradient(285deg, #f2363b, #8f44ad);
  color: white;
}

.share-button--mobile {
  display: none;
}

.share-button__icon {
  margin-right: 15px;
}

.divider {
  display: none;
}

.success-container .footer {
  display: none;
}

.contact-us {
  color: #f2363c;
}

@media (max-width: 600px) {
  .success-container {
    width: 80%;
    left: 10%;
  }

  .success-container .page-title {
    font-size: 24px;
  }

  .subtitle-2 {
    font-size: 12px;
    margin-top: 20px;
  }

  .success-container .footer {
    width: 80%;
  }

  .divider {
    width: 100%;
    margin-top: 30px;
    border-top: 1px solid #636060;
  }

  .primary-button--contact {
    display: none;
  }

  .primary-button--share {
    width: 100%;
  }

  .share-button--desktop {
    display: none;
  }

  .share-button--mobile {
    display: inline;
  }

  .success-container .footer {
    display: flex;
  }

  .text--orange {
    /* color: #f2363c; */
    font-size: 14px;
  }
}
