body {
  position: relative;

  background-color: black;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: Lato;
  color: white;

  /* background-image: radial-gradient(
    circle at 18% -21%,
    #4b4343,
    #4a4343 6%,
    #242020 56%
  ); */
}

.container {
  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.trell-logo {
  height: 80px;
  width: 80px;

  margin-top: 36px;

  cursor: pointer;

  transform: translate(10px);
}

.logo-support-title {
  font-size: 14px;
  font-family: Lato;
  opacity: 0.74;

  font-weight: normal;
}

.page-title {
  margin-top: 10vh;

  font-size: 40px;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
}

.page-title-2 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 40px;
}

.tiktok-icon {
  height: 30px;
  margin-right: -5px;
}

.subtitle {
  width: 80%;
  text-wrap: balance;
  opacity: 0.6;

  font-size: 24px;
  margin-top: 36px;

  font-weight: normal;
}

.button-support-title {
  margin-top: 36px;
  margin-bottom: 18px;
  opacity: 0.25;
}

.button-support-title--mobile {
  display: none;
}

.primary-button {
  width: 55%;
  padding: 20px 0px;

  /* margin-top: 100px; */

  font-family: Lato;
  font-weight: 700;
  font-size: 24px;

  cursor: pointer;

  color: #f2363c;

  border-radius: 5px;
  border: 0px;

  background-color: white;
}

.num-tiktokers {
  margin-top: 24px;
  /* opacity: 0.5; */
}

.footer {
  position: fixed;
  bottom: 100px;

  flex-direction: column;

  width: 50%;
}

.handle-prefix {
  position: absolute;
  z-index: 2;
  left: 10px;
  color: black;
  font-size: 18px;
}

.profile-link {
  margin-top: 15px;
  color: #f2363c;
  text-decoration: none;
}

@media (max-height: 600px) {
  .home-container .page-title {
    margin-top: 36px;
  }

  .button-support-title {
    margin-top: 18px;
  }
}

@media (max-width: 600px) {
  .container,
  .footer {
    width: 100%;
  }

  .logo-support-title {
    font-size: 10px;
  }

  .page-title {
    margin-top: 72px;
    font-size: 24px;
  }

  .page-title-2 {
    font-size: 24px;
  }

  .subtitle {
    font-size: 16px;
  }

  .footer {
    position: fixed;
    bottom: 20px;

    flex-direction: column;
  }

  .profile-handles {
    font-size: 12px;
  }

  .primary-button {
    font-size: 16px;
    padding: 15px 0px;
  }

  .tiktok-icon {
    height: 20px;
  }

  .button-support-title--desktop {
    display: none;
  }

  .button-support-title--mobile {
    display: unset;
    font-size: 10px;
  }

  .num-tiktokers {
    width: 80%;
    font-size: 12px;
  }
}

@media (max-width: 360px) {
  .trell-logo {
    margin-top: 20px;
  }

  .page-title {
    margin-top: 40px;
  }
}

@media (min-width: 650px) and (max-width: 800px) {
  .container,
  .footer {
    width: 70%;
  }
}

@media (max-width: 320px) {
  .page-title,
  .page-title-2 {
    font-size: 16px;
  }

  .page-title {
    margin-top: 20px;
  }

  .subtitle {
    font-size: 12px;
    margin-top: 16px;
  }

  .primary-button {
    padding: 10px 0px;
    font-size: 12px;
  }
}

/* common */

.fbca {
  display: flex;
  justify-content: center;
  align-items: center;
}
